.app {
    display: flex;
    gap: 2rem;
}

.screen {
    border: 1px solid black;
}

.disassembly-list {
    list-style: none;
}

.registers-list {
    display: flex;
    gap: 0.5rem 1rem;
    flex-wrap: wrap;
    width: 32rem;
    list-style: none;
}

.current-instruction {
    color: red;
}